{% extends 'base.html' %}

{% block content %}
 <div class="container">

        <div class="row">
            <div class="col-xs-6">
                <div class="container ontent">
                    <div class="row">
                        <div class="col">
                            <h1 class="text-center mt-5">Create Tournament</h1>
                            <div class="row mt-5">
                                <div class="container mt-3">

                                        <form method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit">Create Tournament</button>
                                        </form>



                                </div>


                            </div> <!-- end row-mt5 -->
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}