{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-xs-6">
                <div class="container ontent">
                    <div class="row">
                        <div class="col">
                            <h1 class="text-center mt-5">Work in Progress. Click <a href="{% url 'tournaments' %}"> "Tournaments"</a> in the menu</h1>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}