{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Aurelia Rogue Company</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'tournaments' %}">Tournaments</a>
            </li>

            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ request.user.get_username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href={% url 'login' %}>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
{#<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">#}
{#    <!-- Container wrapper -->#}
{##}
{#    <div class="container-fluid">#}
{##}
{##}
{##}
{##}
{#        <!-- Brand -->#}
{#        <a class="navbar-brand" href="{% url 'home' %}">#}
{#            <img#}
{#                    src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"#}
{#                    height="25"#}
{#                    alt=""#}
{#                    loading="lazy"#}
{#            />#}
{#        </a>#}
{##}
{##}
{#        <!-- Right links -->#}
{#        <ul class="navbar-nav ms-auto d-flex flex-row">#}
{#            <!-- Notification dropdown -->#}
{#            {% if request.user.is_authenticated %}#}
{#                <li class="nav-item"><a class="nav-link" href="#">{{ request.user.get_username }}</a></li>#}
{#                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>#}
{##}
{##}
{#            {% else %}#}
{#                <li><a class="nav-item" href="{% url 'login' %}">Login</a></li>#}
{#                <li><a class="nav-item" href="{% url 'register' %}">Register</a></li>#}
{#            {% endif %}#}
{##}
{##}
{#        </ul>#}
{#    </div>#}
{#    <!-- Container wrapper -->#}
{#</nav>#}